div.thankYou_container{
    position: relative;
    padding: 2.5rem 1.5rem;
}
@media screen and (min-width: 1280px) {
    
    div.thankYou_container{
        position: relative;
        padding: 1rem 5rem;
    }
}