div.summary_container{
    position: relative;
    padding: 1.5rem;
}
div.summary_report button.btn_change:hover{
    color:  rgb(107 114 128);
}
div.summary_report  span.total_price{
    font-size: 1.5rem;
    color: var(--purplish-blue);
}

footer > button.btn_back{
    color: var(--dark-blue);
}
footer > button.btn_confirm{
    background-color: var(--purplish-blue);
    color: #fff;
}
@media screen and (min-width: 1280px) {
    div.summary_container{
        position: relative;
        padding: 1rem 5rem 1rem 5rem;
    }
}
@media screen and (min-width: 1536px) {
    div.summary_container{
        position: relative;
        padding: 1.5rem 6rem 1rem 6rem;
    }
}